<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <link href="../../node_modules/bootstrap/dist/css/bootstrap.css" rel="stylesheet">
    <script src="../../node_modules/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <title>Document</title>
</head>
<body>
    <a href="../views/private/users/index.php">
        <button classs="btn btn-primary" >Usuarios</button>
    </a>
</body>
</html>